.launcher {
    text-align: center;
}

.app-grid {
    list-style: none;
    margin: var(--space-xl) 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 5rem));
    justify-content: center;
    gap: var(--space-xl);
}
